<html>
<head>
	<title>Skeleton Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
	<div class="container" id="weather">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->


    <div class="page" id="page1">
      <a href="/">
        <p>Add the location</p>
      </a>
    </div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/addLocation.js"></script>

</body>
</html>
