<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170917125-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115176951-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115176951-1');
</script>

	<title>Skeleton Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/right.css" rel="stylesheet">
	<link href="/css/left.css" rel="stylesheet">
	<link href="/css/divider.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style2.css" rel="stylesheet">
  
</head>
<body>

			<dialog id="window">
			<h4>Customize how you are awoken!</h4>
			<h6>On this page input the data that you want read outloud to you after your alarm goes off in the morning!</h6>
			<button id="exit">Close Dialog</button>

			</dialog>
			<button id="show">Help</button>
	<div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->



    <div class="jumbotron">

      <h1 align=center>Good Evening!</h1>



		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/introHCI.css" rel="stylesheet">


    <!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
    <!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
    <!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->


  <!-- /{{#each pages}}
	<div class="page" id="{{id}}">
		<a href="page/{{name}}" class="thumbnail">
      <p>{{name}}</p>
    </a>
		<hr />
	</div>
  {{/each}}
   -->

  <div class="page" id="page1">
      <a href="schedule" class="thumbnail">
        <p align=center>Schedule</p>
      </a>
    </div>

    <div class="page" id="page2">
      <a href="weather" class="thumbnail">
        <p align=center>Weather</p>
      </a>
    </div>

    <div class="page" id="page3">
      <a href="affirmation" class="thumbnail">
        <p align=center>Affirmation</p>
      </a>
    </div>

		<div class="page" id="page4">
	 		<a href="savedRecap" class="thumbnail">
	 			<p align=center>Saved Recaps</p>
	 		</a>
	 	</div>

		<div class="page" id="page5">
	 		<a href="alarm" class="thumbnail">
	 			<p align=center>Alarm</p>
	 		</a>
	 	</div>

		<div class="page" id="page6">
	 		<a href="/" class="thumbnail">
	 			<p align=center><font color="red">Log Out</p>
	 		</a>
	 	</div>





<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script2.js"></script>
<script src="/js/facebook.js"></script>



</body>
</html>
