<html>
<head>
	<title>Skeleton Schedule Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">

	<div class="container" id="New Event">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <h1>Add New Event</h1>
    </div>



		<form action="/action_page.php">
		Type in time (00:00 PM/AM): <input type="text" name="Time" value=""><br>
		Type in location: <input type="text" name="Location" value=""><br>
		Type in event: <input type="text" name="Event" value=""><br>

		</form>

		<div class="page" id="page2">
			<a href="/schedule">
				<p align = "center">Confirm</p>
			</a>
		</div>

    <div class="page" id="page1">
      <a href="/schedule">
        <p align = "center">Back</p>
      </a>
    </div>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/newEvent.js"></script>

</body>
</html>
