<html>
<head>
	<title>Skeleton Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <div class="jumbotron">
      <h1>Weather</h1>
    </div>

   <div class="container" id="New Location">
    {{#each locations}}
        <div class="location"><label><input type="checkbox" data-toggle="toggle" data-size="medium"></label>
          <h3>{{name}}</h3>
          <p>{{description}}</p>
      {{/each}}

  <div class="container" id="New Location">

    <form id="addLocationForm" role="form" method="get" action="/weather">
      <h3>Add a location</h3>
        <div class="form-group">
          <label for="name">Location:</label>
          <input type="text" class="form-control" id="name" placeholder="Location" name="name">
        </div>
        <input type="submit" id="submitBtn" class="btn btn-default" value="Add the location"></input>
    </form>
    

     <div>
      <a>

      <div class="page2" id="page2">
       <a href="/index">
       <p align=center>Confirm</p>
        </a>
       </div>

    <a>
      <div class="page2" >
       <a href="/index">
         <p align = "center">Back</p>
                 </a>
             </div>
         

 </div>



<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</body>
</html>
